<h3 class="question__title">{{ questionTitle }}</h3>
<button 
    *ngFor="let answer of currentQuestion.answers; let i = index" 
    [ngClass]="{
                'question__answer_valid' : (answerResult?.index == i),
                'question__answer_invalid' : (answerResult?.result === false && userAnswerIndex == i) 
               }"
    class="question__answer"
    [disabled]="userAnswerIndex != null"
    (click)="chooseAnswer(quiz.id, currentQuestion.id, answer, i)">
    {{ answer }}
</button>
<button class="question__next button_base" (click)="nextQuestion()">Next</button>

