<div class="container" [ngSwitch]="phase">
    <h2 class="container__title">Simple Quiz</h2>
    <hr class="container__divider">

    <start *ngSwitchCase=""
        class="container__start" 
        [quizzes]="quizzes"
        (startedQuiz)="startQuiz($event)">
    </start>
    <question *ngSwitchCase="'Progress'"
        class="container__question"
        [quiz]="currentQuiz"
        [answerResult]="answerResult"
        (choosedAnswer)="chooseAnswer($event)"
        (endedQuiz)="endQuiz()">
    </question>
    <results *ngSwitchCase="'End'"
        class="container__results"
        [score]="score"
        [length]="currentQuiz.questions.length"
        (restartedQuiz)="restart()">
    </results>
</div>
